body {
  font-family: 'Inter', sans-serif;
  overflow: overlay;
  overflow-x: hidden;
}

*{
  /*border: 1px solid red;*/
  font-family: 'Inter', sans-serif;
}

.h0{
  font-size: 10vw;
}

.h01{
  font-size: 8vw;
}
.h02{
  font-size: 6vw;
}
.h03{
  font-size: 4vw;
}

.green{
  color: #00aa44;
}

.gray{
  color: gray;
}

.white{
  color: white;
}

a {
  color: #00B7FF;
  text-decoration: none; !important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #136309;
  border-radius: 10px;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.bullet{
  background: #00aa44;
  border-radius: 10px;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  line-height: 50px;
  font-size: 30px;
}

.bullet-text{
  line-height: 50px;
}

input{
  border-radius: 100px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border:2px solid #cbcbcb;
}

.button-green {
  background-color: #00aa44;
  border: none;
  color: white;
  padding-right: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  display: inline-block;
  border-radius: 50px;
}

.button-green2 {
  background-color: #00aa44;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  display: inline-block;
  border-radius: 200px;
  font-weight: bold;
}

.button-green2:hover{
  color: white;
}

.mfbutton{}

.mf{}

.mobile-unfriendly {display:none;}

@media all and (min-width: 1000px) {
  .deskContent {display:block;}
  .mobile-unfriendly {display:block;}
}


.carousel-image{
  width: 230px;
  object-fit: cover;
  height: 350px;
}

.playerbox{
  max-height: 500px;
  overflow: scroll;
}

.shorterhr{
  width: 80%;margin: auto;
}

.rankicons{

}